* {
  outline: 0;
}

html, body {
  height: 100%;
  font-family: 'Anonymous Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(147, 161, 161);
}

body {
  letter-spacing: 0;
  font-size: 1.1rem;
  line-height: 1.4;
  min-height: 100%;
  background: rgb(0, 43, 54);
}

a {
  color: rgb(238, 232, 213);
  text-decoration: none;
}
a:hover, a:active{
  color: #fff;
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 26px;
  margin-bottom: 64px;
}

.hero {
  padding: 64px 0 16px;
}

.hero h1 {
  font-weight: 700;
  color: rgb(220, 50, 47);
  font-size: 3.3em;
  line-height: 1;
  margin: 32px 0 6px;
}

.hero h2 {
  margin: 0;
}

p {
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.6;
  letter-spacing: 0.02em;
  position: relative;
}

p.caret:before {
  content: '>';
  position: absolute;
  left: -16px;
  top: -2px;
  color: rgb(88, 110, 117);
}

h3 {
  text-transform: lowercase;
  color: rgb(238, 232, 213);
  font-size: 1.8em;
  margin: 48px 0 6px;
}

.testimonial {
  padding: 16px 0;
  position: relative;
}

.testimonial img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 22px;
}

.testimonial .text {
  margin-left: 80px;
}

.testimonial p {
  margin: 0;
  line-height: 1.4;
  font-size: 1.1em;
}

.testimonial p:before, .testimonial p:after {
  content: '"';
}

.testimonial h4 {
  margin: 6px 0;
  color: rgb(42, 161, 152);
}

#var {
  color: rgb(108, 113, 196);
  font-weight: 700;
  font-size: 2em;
  border: 0;
  width: 100%;
  background: transparent;
}

.box {
  padding: 10px 16px;
  position: relative;
  background: rgb(7, 54, 66);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.message {
  margin: 6px 0 10px;
  padding-left: 2px;
  visibility: hidden;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.getter {
  margin-bottom: 48px;
}

#generateButton {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 16px;
  border: 0;
  color: #fff;
  background: rgb(108, 113, 196);
  font-weight: 700;
  font-size: 1.2em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#language {
  background: transparent;
  color: rgb(42, 161, 152);
  border: 0;
  margin-top: 16px;
  font-weight: 700;
  font-size: 1.2em;
}

.languageContainer:before {
  content: 'Select language: ';
  font-weight: 700;
  margin-right: 16px;
  color: rgb(101, 123, 121);
}

.integration.testimonial img {
  border-radius: 0;
  top: 14px;
}

.integration.testimonial p:before, .integration.testimonial p:after {
  content: '';
}

.divider {
  width: 100%;
  border-top: dashed 1px;
  margin-top: 48px;
}

.love {
  margin-top: 32px;
}

.heart {
  color: rgb(220, 50, 47);
}
